<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About My Tourist Cities Website</title>
  <link rel="stylesheet" href="../assets/styles/about.css">
</head>
<body>
  <header>
    <h1>About My Tourist Cities Website</h1>
    <nav>
      <ul>
        <li><a href="/index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="cities.html">Cities</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <div class="container">
      <h2>What is My Tourist Cities Website?</h2>
      <p>My Tourist Cities Website is a website that provides information about the main tourist cities in the world, including their history, culture, tourist attractions, and practical information for travelers.</p>
      <h2>Who is Behind My Tourist Cities Website?</h2>
      <p>My Tourist Cities Website was created by a student at the Pontificia Universidad Católica de Chile, as part of a homework for the applications and web technologies course.</p>
      <h2>How Can I Use My Tourist Cities Website?</h2>
      <p>Go to the cities section in the navigation bar above to explore the different cities. In the cities page there are buttons to navigate between the different cities. Click them to see the information about each city!</p>
    </div>
  </main>
  <footer>
    <p>&copy; 2023 My Tourist Cities Website. Created by Nicolas Olmos for the applications and web technologies course.</p>
  </footer>
</body>
</html>
