<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../assets/styles/cities.css">
</head>
<body>
  <header>
    <h1>My Tourist Cities Website</h1>
    <nav>
      <ul>
        <li><a href="/index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="cities.html">Cities</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <div id="button-container">
      <button id="left-button">Previous</button>
      <button id="right-button">Next</button>
    </div>

    <div id="container">
      <section id="overview">
      </section>

      <section id="history">
      </section>

      <section id="attractions">
      </section>

      <section id="practical-info">
      </section>
    </div>
  </main>
  <footer>
    <p>&copy; 2023 My Tourist Cities Website. Created by Nicolas Olmos for the applications and web technologies course.</p>
  </footer>
  <script src="../assets/js/script.js"></script>
</body>
</html>
